@import "src/styles/colors";

:host{
    display: inline-block;
    max-width: 500px;
    width: 100%;
}

input[type="radio"] {
  display: none;
  &:checked {
    + .box {
      background-color: $dark-color-lighter;
    }
  }
}

.box {
  position: relative;
  width: 100%;
  height: 110px;
  border-top: 1px solid $dark-color-lighter;
  font-size: 1.6rem;


  &__left {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__center {
    margin-left: 8px;
    p {
      margin: 2px 0px;
    }

    span {
      margin: 2px 0px;
      color:$grey-color ;
      font-size: 1.4rem;
    }
  }

  &__right {
    font-size: 1.4rem;

    .last-message-date{
        color: $grey-color;
    }

    .last-message-notification{
        min-width: 15px;
        min-height: 10px;
        padding: 10%;
        border-radius: 50%;
        background-color: $primary-color;
        text-align: center;
        margin: 8px 0;

    }

  }
}

.story-box{
    height: 120px;
    border: 1px solid orchid;
}