<ng-container *ngIf="selectedChat | async as chat" >
<!-- ####################  section header ##########################################-->
<div fxFlex="0 0 80px" fxLayout class="chat-messenger__header">
  <a fxLayoutAlign="center center" fxLayout href="">
    <mat-icon fxLayoutAlign="center" fxFlex="0 0 45px">arrow_back_ios_new</mat-icon>
  </a>
  <div fxFlex="1 1" fxLayoutAlign="center center">
    <img src="../../../assets/attractive-g1a110e6c7_640.jpg" alt="logo" />
    <span>{{chat.recipientName}}</span>
  </div>
  <a fxLayoutAlign="center center" href="">
    <mat-icon fxLayoutAlign="center" fxFlex="0 0 45px">more_vert</mat-icon>
  </a>
</div>

<!-- #################### section messages ##########################################-->
<div fxFlex="1 1" class="chat-messenger__messages">
  <div class="bubble-divider"></div>
  <div fxLayout fxLayoutAlign="start end">
    <img class="img-avatar-beside-message" src="../../../assets/attractive-g1a110e6c7_640.jpg" alt="avatar" />
    <div class="message-bubble message-bubble--left">
      ipsum dolor sit a ,mmet consectetur adipisicing elit. Mollitia reiciendis ut Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Amet aspernatur accusamus ea voluptatem officiis quis. Ea porro ex minus quae.
    </div>
  </div>
  <ng-container *ngFor="let message of messages | async">
  <div class="bubble-divider" ></div>
  <div  class="message-bubble message-bubble--right">
    {{message.content}}
  </div></ng-container>
</div>

<!-- #################### send section #########################################-->
<div fxFlex="0 0 60px" fxLayout="" class="chat-messenger__sender">
  <div fxFlex="1 1" fxLayoutAlign="center center">
    <input type="text" [formControl]="sendMessageControl" placeholder="Write a message..." />
  </div>
  <div fxLayout (click)="onSendMessage()" fxFlex="0 0 60px" fxLayoutAlign="center center">
    <mat-icon >send</mat-icon>
  </div>
</div>
</ng-container>