@import "src/styles/colors";

:host {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}


app-loader{
position: absolute;
left: 300px;right: 0;top:300px;bottom: 0;
}

.chat-messenger {
  // ####################  section header ##########################################
  &__header {
    font-size: 1.8rem;
    border: 1px solid rgba($color: $primary-color, $alpha: 10%);

    mat-icon {
      font-size: 2.5rem;
      color: white;
      color: $primary-color;
    }

    img {
      margin-right: 8px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  //   #################### section messages ##########################################
  &__messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid rgba($color: $primary-color, $alpha: 10%);

    .message-bubble {
      display: block;
      max-width: 70%;
      padding: 8px 12px;
      text-align: left;
      white-space: pre-wrap;
      word-wrap: break-word;
      border-radius: 20px;
      font-size: 1.5rem;

      &--right {
        align-self: flex-end;
        background-color: $primary-color;
      }

      &--left {
        position: relative;
        align-self: flex-start;
        background-color: $dark-color-lighter;
      }
    }

    .img-avatar-beside-message {
      padding: 0 8px 0 14px;
      width: 3em;
      height: 3em;
      object-fit: cover;
      border-radius: 50%;
    }

    .bubble-divider {
      width: 100%;
      min-height: 9px;
    }
  }

  //   #################### sender section #########################################

  &__sender {
    border: 1px solid rgba($color: $primary-color, $alpha: 10%);

    //input sender styles
    input {
      width: 100%;
      padding: 8px 10px;
      margin-left: 15px;
      border: 0;
      outline: 0;
      background-color: $dark-color-lighter;
      border-radius: 15px;
      font-size: 1.6rem;
      color: white;
    }

    mat-icon {
      font-size: 3rem;
      padding: 10px;
      color: $primary-color;
      margin-bottom: 5px;
    }
  }
}

