//pallete colors
$primary-color:#08D9D6;
$secondary-color:#FF2E63;
$dark-color:#11141b;
$dark-color-lighter:#2a3240;
$gray-color:#a9a9af;
$light-color:#EAEAEA;
$white:#ffffff;
$redColor: rgba(244,67,54,1);
$blueColor:rgba(33,150,243,1);

$home-h1-gradient:linear-gradient(339deg, rgba(8, 217, 214, 1) 0%,rgba(255, 250, 251, 1) 53%, rgba(255, 46, 99, 1) 100%);