<img routerLink="/" src="../../../assets/logo-gef167d036_640.png" alt="logo" />
<h1>SendM</h1>

<form [formGroup]="signupForm" fxLayout="column" fxFlexAlign="center">
  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input type="text" matInput formControlName="firstname" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input type="text" matInput formControlName="lastname" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Re-enter password</mat-label>
    <input type="password" matInput formControlName="repassword" />
  </mat-form-field>
  <!-- checkbox -->
    <div fxFlexAlign="start" class="checkbox-wrapper">
      <input type="checkbox" id="cbx" />
      <label for="cbx" class="check">
        <svg width="18px" height="18px" viewBox="0 0 18 18">
          <path
            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
          ></path>
          <polyline points="1 9 7 14 15 4"></polyline>
        </svg>
        <span>I agree to the <a href="/">terms</a></span></label>
    </div>
    <div fxLayout fxFlexAlign="center">
    <button  mat-fab extended>Sign Up</button>
    <p routerLink="/">or sign in</p>
</div>
</form>
<app-footer></app-footer>
