@import "src/styles/colors";
@import "src/styles/variables";

:host{
position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba($dark-color, $alpha: 0.9) 0%, rgba($dark-color, $alpha: 0.995) 33%);;
  z-index: 1;
}

mat-toolbar {
  height: $header-height;
  max-width: 1400px;
  margin: 0 auto;
  color: $white;
  background-color: transparent;
  list-style: none;
}


.logo-subtitle {
  margin-left: 8px;
}

img {
  height: 2em;
}


ul li {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1.7rem;
  font-weight: 400;
  cursor: pointer;
}

.burger-button,
ul {
  margin-left: auto;
  margin-right: 0;
}

.bottom-line{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba($color: $primary-color, $alpha: .5);
}

.header-item{
  z-index: 1;
}

app-sidenav{
 
  height: 100vh;
}


