@import "src/styles/colors";

:host {
  display: flex;
  max-width: 1400px;
  height: 40px;
  margin: 0 auto;
  padding: 40px 30px 30px 30px;
  color: $white;
  border-top: 1px solid rgba($color: $primary-color, $alpha: .5);
  
}


.my-name{
  font-size: 1.6rem;
}

fa-icon{
  font-size: 3rem;
  cursor: pointer;
  &:hover {
          animation: icon3d 200ms infinite;
  }
}


@keyframes icon3d {
  0% {
    filter:drop-shadow( 3px 2px $redColor) drop-shadow(-2px -3px $blueColor);
  
  }
  25% {
    filter:drop-shadow( -2px -3px $redColor) drop-shadow(3px 2px $blueColor);
  }
  50% {
    filter:drop-shadow( 3px -2px $redColor) drop-shadow(-4px 2px $blueColor);
  }
  75% {
    filter:drop-shadow( -4px -2px $redColor) drop-shadow(3px -2px $blueColor);
  }
  100% {
    filter:drop-shadow( -3px 0 $redColor) drop-shadow(3px -2px $blueColor);
  }
}