:host {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

app-chat-list {
  max-width: 700px;
  width: 100%;
}


.hide {
  display: none;
}

@media (width >= 960px) {
  app-chat-list {
    width: 360px;
  }
  app-chat-messenger{
    width: 100%;
  }
}


@media(min-width:400px) {
  app-chat-list {
    min-width:360px
  }
}