:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

app-chat-list {
  max-width: 700px;
}

.hide {
  display: none;
}

@media (width >= 960px) {
  app-chat-list {
    width: 360px;
  }
}


@media(min-width:400px) {
  app-chat-list {
    min-width:360px
  }
}