<app-header></app-header>
<div fxLayout fxLayout.lt-md="column" class="home-wrapper">
  <div fxFlex class="home-side--left">
    <h1>
      Hang out
      <br />
      anytime, anywhere
    </h1>
    <h2>Simple, reliable messaging and private calls for free, available worldwide.</h2>

    <!-- ######## signIn ######################### -->

    <form [formGroup]="loginForm" fxLayout="column" (submit)="logInClick()">
      <div *ngIf="errorMessage | async" class="error-msg">
        <mat-icon>highlight_off</mat-icon>
        {{ errorMessage | async }}
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="emailFormControl" />
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="passwordFormControl" />
      </mat-form-field>
      <div fxLayout fxLayoutAlign="start center">
        <button mat-fab extended>Log In</button>
        <p class="forgotten-password-paragraph" >Forgotten your password?</p>
      </div>
      <!-- checkbox -->
      <div class="checkbox-wrapper">
        <input type="checkbox" id="cbx" />
        <label for="cbx" class="check">
          <svg width="18px" height="18px" viewBox="0 0 18 18">
            <path
              d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
            ></path>
            <polyline points="1 9 7 14 15 4"></polyline>
          </svg>
          <span>Keep me signed in</span>
        </label>
      </div>
    </form>

    <!-- ######## logo ##################### -->
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center center" class="home-side--right">
    <img src="/assets/logo-gef167d036_640.webp" alt="" />
            <!-- TODO: style-->
          <div class="under-logo-shadow"></div>
  </div>
</div>
<app-footer></app-footer>
