@use "@angular/material" as mat;
@import "src/styles/colors";
@import "src/styles/variables";

:host {
  min-height: 100vh;
  background-color: $dark-color;
}

.home-wrapper {
  margin: 0 auto;
  padding: $header-height 35px 100px 35px;
  max-width: 500px;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  background: $home-h1-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0.5em 0;
}

h2 {
  color: rgba($color: $white, $alpha: 80%);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}

.home-side--right{
  position: relative;
  img{
    width: 300px;
    height: 300px;
  }
  
  .under-logo-shadow {
    position: absolute;
    width: 0px;
    height: 0px;
    filter: blur(0em);
    background-color: $primary-color;
    z-index: -1;
    transition: 0.5s; filter: blur(1em);
  }
  & img:hover ~ .under-logo-shadow {
    width: 80px;
    height: 80px;
    filter: blur(5em);
  }
}

.error-msg {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  background-color: #f74646;
  text-align: left;
  font-size: 1.6rem;

  mat-icon{
display: flex;
align-items: center;
justify-content: center;
    font-size: 20px;
  }
}

.forgotten-password-paragraph {
  font-size: 1.5rem;
  color: $primary-color;
  text-decoration: underline;
  margin-left: 1.5em;
  cursor: pointer;
  transition: transform 0.2s;
}

.forgotten-password-paragraph:hover {
 transform: scale(1.02);
}


//checkbox styles
.checkbox-wrapper {
  margin: 2em 0;
  color: white;
}

.checkbox-wrapper span {
  margin: 0 6px;
  color: white;
  font-size: 1.6rem;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper label {
  display: inline-block;
}

.checkbox-wrapper .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18em;
  height: 1.8em;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .check::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgb(34 50 84 / 3%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox-wrapper .check svg {
  position: relative;
  top: 4px;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.checkbox-wrapper .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.checkbox-wrapper .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.checkbox-wrapper .check:hover::before {
  opacity: 1;
}

.checkbox-wrapper .check:hover svg {
  stroke: $primary-color;
}

.checkbox-wrapper input[type="checkbox"]:checked + .check svg {
  stroke: $primary-color;
}

.checkbox-wrapper input[type="checkbox"]:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.checkbox-wrapper input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

//#form styles
input {
  color: $white !important;
}

// styles for untouched input
::ng-deep .mdc-text-field .mdc-floating-label {
  color: $white !important;
}

::ng-deep .mdc-notched-outline > * {
  border-color: $white !important;
}


// styles for untouched input
::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: $primary-color !important;
}

::ng-deep .mdc-text-field--focused .mdc-floating-label > * {
  color: $primary-color !important;
}

//styles for invalid input

//get color from material red-pallete
$matWarnPallete: mat.define-palette(mat.$red-palette);

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: mat.get-color-from-palette($matWarnPallete, 500) !important;
}

::ng-deep .mdc-text-field--invalid .mdc-floating-label > * {
  color: mat.get-color-from-palette($matWarnPallete, 500) !important;
}

@media (width >= 600px) {
  h1,
  h3 {
    text-align: center;
  }
}

@media (width >= 960px) {
  .home-wrapper {
    max-width: 1400px;
  }

  h1 {
    font-size: 7em;
    text-align: start;
  }

  h3 {
    text-align: start;
  }

  mat-form-field{
    width: 350px;
  }

  .error-msg{
    width: 330px;
  }
}
